.pathText			{padding:0px;
				margin:0px;
				width:250px;}
#hdr_exp			{width:300px;}
#hdr_stat			{width:100px;}
#export_stat, #saveProgress	{visibility:hidden;}
#playlistpicker3 > checkbox	{margin:0px;padding:0px;}
#playlistpicker3 >listitem > listcell > checkbox	{margin:0px;}
.changePath			{margin:0px;padding:0px;min-width:20px;}
listitem[selected="true"]		{background:transparent!IMPORTANT;}
